@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');
@tailwind base;


.container-xs{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
@tailwind components;
@tailwind utilities;

.font-playfair{
    font-family: 'Playfair Display';
}
.bg-button{
    background-color: #D1AD54;
}
.link-wrapper::before{
    inset: 0;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    content: "";
}
/* Header */
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.activeMobile{
    display: block;
}
.mobileHidden{
    display: block;
}
@media screen and (max-width : 780){
    .mobileHidden{
        display: none;
    }
}
.masuk{
    background: transparent;
}
.masuk:hover{
    background-color: #D1AD54 ;
}

/* .header-clipping{
    position: relative;
    height: 100vh;
} */
.header-clipping{
    width: 100%;
    background:linear-gradient(90deg, #D1AD54 0%, rgba(208, 187, 58, 0.88) 33.33%, #EEEEEE 71.87%, #F4C244 100%);
    height: 600px;
    position: relative;
    content: " ";
}
.active{
    display: block;
}

.item-image{
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
}
.image-img{
    width: 100%;
    height: 100%;
    transition: .5 ease;
    backface-visibility: hidden;
}
.btn-middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    opacity: 0;
}
.item-image:hover .image-img{
    opacity: 1;
}
.item-image:hover .btn-middle{
    opacity: 1;
}

/* contoh wrapper */
.card-example{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}
.overlay{
    position: relative;
    width: 100%;
    height: 150px;
    border: 1px solid gray;
}
.image{
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.overlay:hover .image{
    opacity: 0.3;
    cursor: pointer;
}
.overlay:hover .middle{
    opacity: 1;
    cursor: pointer;
}

/* Categories */
/* Berlangganan */

.font-gold{
    color:#F6B22D;
}
/* Referal */
.referal{
    height: 500px;
}
/* Details */
.video-wraper{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

}
.video-wraper::after{
    content: "";
    top: 0;
    left: 0;
    inset: 0;
    position: absolute;
    background-color: rgb(107, 107, 107);
    opacity: 0;
    z-index: 1;
    transition: 0.35ms ease-in;
}
.video-wraper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.absolute-center{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index:2;
    opacity: 0;
}
.video-wraper:hover .absolute-center{
    opacity: 1;
}
.video-wraper:hover{
    opacity: .7;
}




